@font-face {
	font-family: "movement";
	src: url("Movement/Variable/MovementV.ttf") format("truetype");
}

:root {
	--logo-height: 100px;
	--img-width: 40vw;
	--img-height: 100vh;
	--logo-font-wght: 300;
	--form-font-wght: 900;
	--logo-font-size: 3rem;
	--form-font-size: 1.1rem;
	--logo-font-colour: rgb(255, 255, 255);
	--logo-background-colour: rgba(0, 0, 0, 0.377);

	--form-width: 60%;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: var(--primary-colour);
	display: flex;
}
body * {
	margin: 0;
	box-sizing: border-box;
}
.image-container {
	position: relative;
}
.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc(100vw - var(--img-width));
	color: var(--text-font-colour);
}
.form-container > div:first-child,
.button button,
.signup > p,
.form {
	font-weight: var(--form-font-wght);
}
.form {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	/* width: var(--form-width); */
	font-size: calc(0.5 * var(--form-font-size));
	margin: 30px 0;
	gap: 30px;
	/* padding-right: 5; */
}
.form > * {
	/* flex: 1 0 50%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 40%;
	min-width: 300px;
	/* flex-grow: 1; */
	/* flex-shrink: 1; */
}
.form div > input {
	width: 100%;
}
.form-container > div:first-child,
.signup > p {
	margin-top: 10px;
	font-size: var(--form-font-size);
}
.signup {
	background-color: var(--secondary-colour);
	box-shadow: 0 5px 10px var(--logo-background-colour);
}
.intro-text {
	margin-bottom: 0px;
}
.intro-text p,
.button,
.login {
	margin-top: 30px;
}
.form-container * {
	font-family: "Roboto", sans-serif;
}
.form-container > div:not(.signup),
.signup > * {
	margin-left: 30px;
}
.banner {
	font-family: "movement", sans-serif;
	font-size: var(--logo-font-size);
	font-variation-settings: "wght" var(--logo-font-wght), "SPAC" 110;

	color: var(--logo-font-colour);
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo {
	position: absolute;
	top: calc((var(--img-height) - var(--logo-height)) / 2);
	width: var(--img-width);
	height: var(--logo-height);
	display: grid;
	place-content: center;
	background-color: var(--logo-background-colour);
	text-align: center;
	color: var(--logo-font-colour);
	animation: font 2s alternate infinite;
}

.button button:hover {
	cursor: pointer;
	background-color: var(--accent2-colour);
	scale: 1.02;
}
.button button {
	box-shadow: 2px 2px 4px var(--secondary-colour);
	background-color: var(--accent-colour);
	transition: all 1s;
	border-radius: 5px;
	padding: 10px 30px;
	margin-left: 0;
	font-weight: var(--form-font-wght);
	border: none;
	color: var(--logo-font-colour);
}
.login span:hover {
	cursor: pointer;
	color: var(--accent2-colour);
	scale: 1.01;
}
.login span {
	font-weight: var(--form-font-wght);
	color: var(--accent-colour);
	transition: all 1s;
}

/* Airplane Icon */
.material-symbols-outlined {
	display: grid;
	place-content: center;
	padding-top: 5px;
	font-size: calc(1.3 * var(--logo-font-size));
	font-variation-settings: "FILL" 0, "wght" var(--logo-font-wght), "GRAD" 0,
		"opsz" 48;
}
.banner,
.material-symbols-outlined {
	transition: all 1s;
}
.banner a {
	text-decoration: none;
	color: var(--logo-font-colour);
}
.image-container:hover .logo {
	/* --logo-font-wght: 900; */
	cursor: pointer;
}

@keyframes font {
	0% {
		--logo-font-wght: 300;
	}
	100% {
		--logo-font-wght: 900;
	}
}

/* Cross Fade Animation */
.container {
	width: var(--img-width);
	height: var(--img-height);
	position: relative;
}
.background-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-animation: fade 20s infinite;
	animation: fade 20s infinite;
}
#pic1 {
	animation-delay: 0s;
	background-image: url("image1.jpg");
}
#pic2 {
	background-image: url("image2.jpg");
	animation-delay: 5s;
}
#pic3 {
	background-image: url("image3.jpg");
	animation-delay: 10s;
}
#pic4 {
	background-image: url("image4.jpg");
	animation-delay: 15s;
}
@-webkit-keyframes fade {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	34% {
		opacity: 0;
	}
	88% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	34% {
		opacity: 0;
	}
	88% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
* {
	scroll-behavior: smooth !important;
}
.form div {
	gap: 5px;
}
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 20px;
	text-align: center;
}
input {
	border-radius: 5px;
	padding: 5px 0 5px 5px;
}
input:focus {
	box-shadow: 0 5px 10px var(--logo-background-colour);
	scale: 1.03;
}

.fa-github {
	color: var(--text-font-colour);
	font-size: 40px;
	transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
	transform: rotate(360deg) scale(1.2);
}
@media screen and (max-width: 900px) {
	:root {
		--img-width: 100vw;
	}
	body {
		height: auto;
		display: block;
	}
	.form-container,
	.form-container > div {
		width: 100vw;
	}
	.form {
		align-items: center;
		flex-direction: column;
	}
	.form-container > div:not(.signup),
	.signup > * {
		margin-left: 0px;
	}
	p {
		text-align: center;
	}
	.button {
		display: grid;
		place-content: center;
	}
	.intro-text p {
		padding: 0 20px;
	}
}
@media screen and (min-width: 900px) {
	.intro-text p {
		width: 70%;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
	  --text-font-colour: #fff; /* Change text color to white */
	  --primary-colour: #2c2927; /* Adjust primary color */
	  --secondary-colour: #393532; /* Adjust secondary color */
	  --accent-colour: #ad8659;
	  --accent2-colour: #8d7355;
	}
  }
  
@media (prefers-color-scheme: light) {
	:root {

		--text-font-colour: rgb(0, 0, 0);
		--primary-colour: #ebded3;
		--secondary-colour: #fff;
		--accent-colour: #8d7355;
		--accent2-colour: #ad8659;
	}
}
