:root {
	--logo-height: 100px;
	--img-width: 30vw;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #ebded3;
}
body * {
	margin: 0;
	box-sizing: border-box;
}
.image-container {
	position: relative;
	font-family: "Lilita One", cursive;
	font-size: 3rem;
	color: white;
}
.banner img {
    width: auto;
    scale: 1.5;
    margin-right: 20px;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    position: absolute;
    top: calc((100vh - var(--logo-height)) / 2);
    width: var(--img-width);
    height: var(--logo-height);
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.377);
    text-align: center;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* Cross Fade Animation */
.container {
    width: var(--img-width);
	height: 100vh;
	position: relative;
}
.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: fade 24s infinite;
    animation: fade 24s infinite;
}
#pic1 {
	animation-delay: 0s;
	background-image: url("image1.jpg");
}
#pic2 {
	background-image: url("image2.jpg");
	animation-delay: 8s;
}
#pic3 {
	background-image: url("image3.jpg");
	animation-delay: 16s;
}
@-webkit-keyframes fade {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	34% {
		opacity: 0;
	}
	88% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	34% {
		opacity: 0;
	}
	88% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
